html {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

body {
  background-color: #17181c;
  color: cornsilk;
}

header {
  text-align: center;
}

h1 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  font-size: 0.97rem;
  font-weight: bold;
  color: #333;
  background-color: #eee;
  margin-bottom: 10px;
  padding: 6px 24px;
  border-radius: 8px;
  border-block: 1px solid #ccc;
  border-inline: 1px solid #333;
}

nav a:hover {
  background-color: #d8d8d8;
}

.animal-type-btn {
  margin-left: 5px;
}

.animal-type-btn.active {
  background-color: greenyellow;
}

.animal-type-btn.active:hover {
  background-color: greenyellow;
}

.add-new-btn {
  border-block: 1px solid indigo;
  background-color: indigo;
  color: cornsilk;
}

.add-new-btn:hover {
  background-color: rgb(92, 2, 156);
}

.cards-container {
  margin-top: 20px;
  padding-inline: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
}

.card {
  position: relative;
  border: 1px solid gray;
  border-radius: 5px;
}

.card__btns {
  padding: 5px 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.card__country {
  border-bottom: 1px solid gray;
  padding: 20px;
}

.card__animal {
  position: relative;
  padding: 20px;
}

.card__animal-type {
  padding: 5px 10px;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-bottom-left-radius: 5px;
}
